@model IEnumerable<SparkTask.Models.Category>

@{
    ViewData["Title"] = "GetCat";
}

<h1>GetCat</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <div class="form-group">

        <select class="form-control"
                asp-items="@(new SelectList(Model,"CategoryId", "Name"))">
            <option selected disabled>Choose Category</option>
        </select>

    </div>

    <div class="form-group courses">
        
    </div>


</div>










@section Scripts {
    
    <script>
     $(function () {

         $('select').on('change', function (e) {
             
             $.ajax({
                 url: "/Products/getProductOfCategory/"+e.target.value,
                 success: function (result) {

                     $('.products').html(result);
                },
                type: "get"
            });

         });


     })



    </script>
}
